/*****************************************

fonts

*****************************************/

@mixin font-face($jmeno, $soubor) {
  @font-face {
      font-family: $jmeno; /* deklarace fontu */
      src: url("../fonts/#{$soubor}"); /* propojení na umístění souboru */
  }
}

@include font-face("AveBlack", "Avenir-Black.ttf");
@include font-face("AveBlackOblique", "Avenir-BlackOblique.ttf");
@include font-face("AveBook", "Avenir-Book.ttf");
@include font-face("AveBookOblique", "Avenir-BookOblique.ttf");
@include font-face("AveHeavy", "Avenir-Heavy.ttf");
@include font-face("AveHeavyOblique", "Avenir-HeavyOblique.ttf");
@include font-face("AveLight", "Avenir-Light.ttf");
@include font-face("AveLightOblique", "Avenir-LightOblique.ttf");
@include font-face("AveMedium", "Avenir-Medium.ttf");
@include font-face("AveMediumOblique", "Avenir-MediumOblique.ttf");
@include font-face("AveOblique", "Avenir-Oblique.ttf");
@include font-face("AveRoman", "Avenir-Roman.ttf");

/*****************************************

colors

*****************************************/

/*****************************************

defaults

*****************************************/

body {
  background: #FCFCFC;
}

h1, h2, h3, h4, h5, p, span, a, li, div {
  font-weight: normal !important;
  -webkit-font-smoothing: antialiased !important;
  font-family: AveRoman;
  outline: none;
}

div:active {
  outline: none !important;
}

a:active {
  outline: none !important;
}

body {
  width: 100%;
}

section {
  outline: 0 !important;
}
